@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;600&family=Quicksand:wght@400;600&family=Sansita+Swashed:wght@300;600&family=Titillium+Web:wght@300;600&display=swap');
/*font-family: 'Atma', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Sansita Swashed', cursive;
font-family: 'Titillium Web', sans-serif;*/
:root {
    /* change the values below to your colors from your palette */
  --primary-color: #9EA93F;
  --secondary-color: #006d77;
  --accent1-color: #48083B;
  --accent2-color: #F9C80E;
  --accent3-color: #7B3E19;
  --accent4-color: #FF6F59;
  --background-color: #FFFFFF;
  /* change the values below to your chosen font(s) */
  --heading-font-main: 'Sansita Swashed' , cursive;
  --paragraph-font-main: 'Atma' , cursive;
  --quote-font: 'Titillium Wed' , sans-serif;
  --comment-font: 'Quicksand' , sans-serif;

  /* these colors below should be chosen from among your palette colors above 
  --headline-color-on-white: #F7B2B7;   /*headlines on a white background  
  --headline-color-on-color: #DE639A;  /*headlines on a colored background 
  --paragraph-color-on-white: #F7717D;  /*paragraph text on a white background  
  --paragraph-color-on-color: #16001E;  /*paragraph text on a colored background 
  --paragraph-background-color: #7F2982;
  --nav-link-color: #DE639A;
  --nav-background-color: #F7B2B7;
  --nav-hover-link-color: white;
  --nav-hover-background-color: black;*/
} 